<!DOCTYPE html>
<html>
    <head>
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>WhiskySize for WhiskyBot</title>
    </head>
    <body>
        <ol>
            <li>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    Test Whisky 1
                </button>
                <div class="collapse" id="collapse1">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Menge</th>
                            <th>Preis</th>
                            <th>✔</th>
                            <th>❌</th>
                        </tr>
                        <tr>
                            <td>TESTNAME</td>
                            <td>TESTMENGE</td>
                            <td>TESTPREIS</td>
                            <td>ok button</td>
                            <td>err button</td>
                        </tr>
                        <tr>
                            <td>TESTNAME</td>
                            <td>TESTMENGE</td>
                            <td>TESTPREIS</td>
                            <td>ok button</td>
                            <td>err button</td>
                        </tr>
                        <tr>
                            <td>TESTNAME</td>
                            <td>TESTMENGE</td>
                            <td>TESTPREIS</td>
                            <td>ok button</td>
                            <td>err button</td>
                        </tr>
                        <tr>
                            <td>TESTNAME</td>
                            <td>TESTMENGE</td>
                            <td>TESTPREIS</td>
                            <td>ok button</td>
                            <td>err button</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse2">
                    Test Whisky 2
                </button>
                <div class="collapse" id="collapse2">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Menge</th>
                            <th>Preis</th>
                            <th>✔</th>
                            <th>❌</th>
                        </tr>
                        <tr>
                            <td>TESTNAME</td>
                            <td>TESTMENGE</td>
                            <td>TESTPREIS</td>
                            <td>ok button</td>
                            <td>err button</td>
                        </tr>
                        <tr>
                            <td>TESTNAME</td>
                            <td>TESTMENGE</td>
                            <td>TESTPREIS</td>
                            <td>ok button</td>
                            <td>err button</td>
                        </tr>
                        <tr>
                            <td>TESTNAME</td>
                            <td>TESTMENGE</td>
                            <td>TESTPREIS</td>
                            <td>ok button</td>
                            <td>err button</td>
                        </tr>
                        <tr>
                            <td>TESTNAME</td>
                            <td>TESTMENGE</td>
                            <td>TESTPREIS</td>
                            <td>ok button</td>
                            <td>err button</td>
                        </tr>
                    </table>
                </div>
            </li>
        </ol>
    </body>
</html>