<!DOCTYPE html>
<html>
    <head>
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>WhiskySize for WhiskyBot</title>
    </head>
    <body>
        <button class="mdc-button">  <span class="mdc-button__ripple"></span> Learn More</button>
    </body>
</html>