<!DOCTYPE html>
<html>
    <head>
        <title>Login for WhiskySite</title>
        <style type="text/css" media="screen">
            body {
                background-color: skyblue;
                text-decoration-color: white;
                font-size: 7em;
            }
        </style>
    </head>
    <body>
        <center><a href="<%=google_url%>">Login with google</a></center>
    </body>
</html>