<!DOCTYPE html>
<html>

<head>
    <title>Login for WhiskySite</title>
</head>

<body>
    <span><%=extra%></span>
    <center><a href="<%=google_url%>">Login with google</a></center>
</body>

</html>