<!-- BEGIN USER -->
<tr class="mdc-data-table__row">
    <td class="mdc-data-table__cell"><%- name -></td>
    <td class="mdc-data-table__cell"><%- volume -></td>
    <td class="mdc-data-table__cell"><%- price -></td>
    <td class="mdc-data-table__cell">ok button</td> <!-- TODO: implement ok and error button 'button(id)' -->
    <td class="mdc-data-table__cell">err button</td>
</tr>
<!-- END USER -->